table {
	border-collapse: collapse;
}

th,
td {
	border: 1px solid var(--color);
	padding: .6rem;
}

tfoot td {
	text-align: center;
}

#listas {
	display: flex;
	column-gap: .6rem;
}

#listas>div {
	border: 1px solid var(--color);
	padding: .6rem;
}