main {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: 1fr;
	column-gap: 1em;
}

main>section {
	height: 100%;
}

iframe {
	background: white;
	height: 100%;
	width: 100%;
}