:root {
	--bg: white;
	--color: #212529;
}

@media (min-width: 640px) {
	.juego {
		width: calc((100% - 4%) / 3);
	}
}

@media (min-width: 769px) {
	.juego {
		width: calc((100% - 6%) / 4);
	}
}

@media (min-width: 1024px) {
	.juego {
		width: calc((100% - 8%) / 6);
	}
}

/* Principal */
html,
body {
	min-height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
}

main {
	flex: 1;
	padding-bottom: 6rem;
	position: relative;
}

/* Clases */
.noPadding {
	padding: 0;
}

.maxWidth1280 {
	max-width: 1280px;
	margin: 0 auto;
}

/* Header Menú */
header {
	position: sticky;
	top: 0;
	background: var(--bg);
	z-index: 2;
	box-shadow: 0 4px 2px -2px #cecece;
}

header>nav {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px 15px 10px 10px;
}

header>nav>a {
	color: #606060;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	padding: 10px 2px 10px 5px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .6s;
	white-space: nowrap;
}

header>nav>a:hover {
	color: #4884EC;
}

header>nav .icon {
	height: 22px;
}

header>nav>input {
	border: 1px solid #ccc;
	margin: 10px 2px 10px 5px;
	padding: 5px 10px;
	transition: .6s;
}

header>nav>input:focus {
	font-size: 1.6em;
	padding: 1rem 2rem;
}

header>nav>a:has(~ input:focus):nth-of-type(n+2),
header>nav>input:focus~a {
	display: none;
}

header>nav>label {
	display: none;
}

header>nav>input:focus~label {
	display: inline-block;
	padding-left: 6px;
}

header:has(input:focus)~main>#modal {
	background: rgba(0, 0, 0, .6);
	inset: 0;
	position: absolute;
	z-index: 6;
}

/* Main */
img {
	width: 100%;
}

.anuncio {
	background-color: #111111;
	color: white;
	margin: 0;
	padding: 8px;
	text-align: center;
}

/* Banner */
.banner {
	display: grid;
	overflow: hidden;
}

.banner a {
	grid-area: 1/2/1/2;
	position: relative;
}

.banner a:nth-of-type(1) {
	animation: banner1 12s infinite ease;
}

.banner a:nth-of-type(2) {
	animation: banner2 12s infinite ease;
}

@keyframes banner1 {
	0% {
		left: 100%;
		z-index: 1;
	}

	10% {
		left: 0;
	}

	50% {
		left: 0;
		z-index: 1;
	}

	60% {
		left: -100%;
		z-index: 0;
	}

	100% {
		left: 100%;
	}
}

@keyframes banner2 {
	0% {
		left: 0;
	}

	10% {
		left: -100%;
	}

	50% {
		left: 100%;
		z-index: 0;
	}

	60% {
		left: 0;
		z-index: 1;
	}

	100% {
		left: 0;
		z-index: 0;
	}
}

.imagenes {
	display: grid;
	grid-template-columns: repeat(2, 50%);
}

#juegos {
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 20px;
	padding: 20px;
}

.juego {
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	min-width: 140px;
	padding: 10px;
}

.juego:hover {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	z-index: 1;
}

.juego img {
	border-radius: 15px;
	max-width: 200px;
}

/* Pie del main */
#pie {
	display: grid;
	grid-template-areas:
		"arriba"
		"logo"
		"copyright";
}

#pie>#arriba {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-area: arriba;
}

#pie>#arriba a {
	display: block;
}

#pie>#arriba section {
	border-right: 1px solid #9c9a9a;
	margin-left: 1rem;
}

#pie>#arriba section:last-child {
	border: none;
}

#pie img {
	margin: 0 auto;
	width: auto;
}

/* Pie de página */
body>footer {
	background: var(--bg);
	color: var(--color);
	inset: auto 0 0;
	padding-bottom: .6rem;
	position: fixed;
	text-align: center;
}

body>footer>span {
	animation: footerAni .2s ease-in 6 alternate;
	background: var(--bg);
	border-radius: 1rem;
	border-top: 2px solid var(--color);
	display: block;
	font-size: larger;
	margin: 0 auto;
	padding: 6px;
	transform-origin: bottom;
	transition: .6s;
	width: 66%;
}

body>footer>span:hover {
	transform: scale(1.16);
}

body>footer>span>span {
	display: inline-block;
	transform: scale(-1.6, 1.6);
}

@keyframes footerAni {
	to {
		transform: scale(1.16);
	}
}