h1 {
	color: #a712e2;
	font-family: Arial, Helvetica, sans-serif;
	/* Posibles unidades: px, em, etc */
	font-size: 24px;
}

.miEstilo1 {
	color: purple;
	text-align: start;
	width: 100%;
}

.negrita {
	font-weight: bold;
}

.cursiva {
	font-style: italic;
}

.subrayado {
	text-decoration: underline;
}